<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>core.html.easyui.layout.Panel</title>

<link rel="stylesheet" type="text/css" href="/~/core/resource/jquery-easyui-1.5/themes/default/easyui.css">
<link rel="stylesheet" type="text/css" href="/~/core/resource/jquery-easyui-1.5/themes/icon.css">

</head>
<body>
	<div id="panel"></div>
</body>

<script type="text/javascript" src="/~/core/resource/jquery-3.1.0/jquery-3.1.0.js"></script>

<script type="text/javascript" src="/~/core/resource/jquery-easyui-1.5/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/~/core/resource/jquery-easyui-1.5/locale/easyui-lang-zh_CN.js"></script>

<script type="text/javascript" src="/~/core/release/core.min.js"></script>
<script type="text/javascript" src="/~/core/release/easyui.js"></script>

<!-- <script type="text/javascript" src="/~/core/package.js"></script> -->

<!-- <script type="text/javascript" src="/~/core/html/easyui/layout/Panel.js"></script> -->

<script type="text/javascript">
	$(function() {
		var panel = new core.html.easyui.layout.Panel("panel");
		panel.height("500px");
		panel.title("test");
		panel.init();
	});
</script>

</html>